* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #fef9e1;
  color: #6d2323;
  box-sizing: border-box;
  flex-direction: column;
}

.auth-container {
  padding: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.auth-container .description {
  font-size: 13px !important;
  color: #6d2323;
  margin-bottom: 20px;
  text-align: center;
  line-height: 1.4;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  border-radius: 10px;
  background-color: #e5d0ac;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.8);
  width: 100%;
  max-width: 400px;
  max-height: 600px;
  margin: auto;
  overflow: auto;
}

.form p.title {
  color: #a31d1d;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.form__group {
  position: relative;
  padding: 20px 0 0;
  width: 100%;
  margin-bottom: 30px;
}

.form__field {
  font-family: inherit;
  width: 100%;
  border: none;
  border-bottom: 2px solid #6d2323;
  outline: 0;
  font-size: 17px;
  color: #6d2323;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}

.form__field::placeholder {
  color: transparent;
}

.form__field:placeholder-shown ~ .form__label {
  font-size: 17px;
  cursor: text;
  top: 20px;
}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 17px;
  color: #6d2323;
  pointer-events: none;
}

.form__field:focus {
  padding-bottom: 6px;
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, #a31d1d, #d84040);
  border-image-slice: 1;
}

.form__field:focus ~ .form__label {
  top: -20px;
  font-size: 14px;
  color: #d84040;
  font-weight: 700;
}

.forgot-password {
  color: #6d2323;
  text-decoration: none;
  margin-top: -20px;
  font-size: 14px;
  align-self: flex-start;
}

.forgot-password:hover {
  text-decoration: underline;
}

.submit {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #6d2323;
  color: white;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.submit:hover {
  background-color: #a31d1d;
}

#error-message {
  color: red;
  font-size: 14px;
  margin-top: 10px;
}

.instruction {
  font-size: 14px;
  color: red;
  margin-top: 5px;
}

.instruction.valid {
  color: green;
}

.instruction.invalid {
  color: red;
}

.error {
  color: red;
  display: none;
  margin-top: 10px;
}

@media (max-width: 768px) {
  .auth-container {
    margin-top: 20px;
  }

  .form {
    padding: 10px;
    margin-top: 10px;
    max-width: 100%;
    width: 100%;
  }

  .form__field {
    font-size: 16px;
    padding: 8px 0;
  }

  .form__label {
    font-size: 16px;
  }

  .submit {
    font-size: 14px;
    padding: 12px 25px;
  }

  .forgot-password {
    font-size: 13px;
  }

  .form p {
    font-size: 22px;
  }
}

@media (max-width: 480px) {
  .auth-container {
    margin-top: 10px;
  }

  .form {
    padding: 5px;
  }

  .form__field {
    font-size: 15px;
    padding: 6px 0;
  }

  .form__label {
    font-size: 15px;
  }

  .submit {
    font-size: 14px;
    padding: 10px 20px;
  }

  .forgot-password {
    font-size: 12px;
  }
}