body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f7f6;
    margin: 0;
    padding: 0;
}

.main-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

#client_sidebar {
    width: 250px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-right: 10px;
    border-radius: 8px;
}

h1 {
    font-size: 25px;
    color: #6D2323;
    text-align: center;
    margin-bottom: 20px;
}

.container {
    width: 100%;
    max-width: 500px;
    margin: 15px auto 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    box-sizing: border-box;
}

.container input,
.container button {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    border-radius: 5px;
    box-sizing: border-box;
}

.container input {
    border: 1px solid #ccc;
    color: #333;
    outline: none;
    transition: border-color 0.3s ease;
}

.container input:focus {
    border-color: #6D2323;
}

.container button {
    background-color: #6D2323;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.container button:hover {
    background-color: #A31D1D;
}

.container form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.password-container {
    position: relative;
}

.password-container input {
    padding-right: 40px;
}

.eye-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #666;
}

.instruction {
    font-size: 14px;
    margin: 0;
}

.instruction.valid {
    color: green;
}

.instruction.invalid {
    color: red;
}

#error-message {
    color: red;
    font-size: 14px;
    display: none;
}

@media (max-width: 768px) {
    .container {
        width: 90%;
    }
}